.background-vermelho{
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

.background-nome{
    background-color: green;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
}